:root {
	--sans-serif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica,
		'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

@tailwind base;
@layer base {
	html {
		@apply subpixel-antialiased;
		font-family: var(--sans-serif);
	}

	.tick text {
		font-family: var(--sans-serif);
	}

	select {
		@apply rounded-lg border border-gray-300 bg-gray-50 p-1 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500;
	}

	input[type='checkbox'] {
		@apply rounded;
	}
}
@tailwind components;
@layer components {
	.button-base {
		@apply px-3 py-1.5 text-sm font-medium text-white focus:outline-none focus:ring-1;
	}
	.button {
		@apply button-base mr-2 mb-2 rounded-lg;
	}

	.domain {
		@apply opacity-40;
	}

	.tick > line {
		@apply stroke-0;
	}
}

@tailwind utilities;
@layer utilities {
}
